{% set anchorTag = block.navigationTitle|default('') ? block.navigationTitle|replace({' ': ''}) : '' %}

{% if block.image %}
    {% set image = block.image %}

    <div class="relative header">
        {% if anchorTag %}
            <div id="{{ anchorTag }}" class="navigation-anchor js-navigation-anchor"></div>
        {% endif %}

        <div class="header-image-wrapper">
            <img class="header-image"
                 src="{{ image.thumbnails['1920x864'] }}"
                 srcset="{{ image.thumbnails['600x270'] }} 600w,
                         {{ image.thumbnails['1040x468'] }} 1024w,
                         {{ image.thumbnails['1920x864'] }} 1440w"
                 alt="Header Image">
        </div>
    </div>
{% endif %}
