{% set anchorTag = block.navigationTitle|default('') ? block.navigationTitle|replace({' ': ''}) : '' %}

{% if block.image %}
    {% set image = block.image %}

    <div class="relative header">
        {% if anchorTag %}
            <div id="{{ anchorTag }}" class="navigation-anchor js-navigation-anchor"></div>
        {% endif %}

        <picture class="header-image-wrapper">
            <source class="header-image" media="(min-width:1024px)" srcset="{{ image.thumbnails['1920x864'] }}">
            <source class="header-image" media="(min-width:601px)" srcset="{{ image.thumbnails['1040x468'] }}">
            <img class="header-image" src="{{ image.thumbnails['608x342'] }}" alt="{{ image.title }}">
        </picture>
    </div>
{% endif %}
