<div class="default-spacing-margin default-padding">
    <div class="default-max-width centered text-image">
        <div class="text-image-text">
            {% if block.title %}
                <div class="headline-second">
                    {{ block.title }}
                </div>
            {% endif %}

            {% if block.description %}
                <div>
                    {{ block.description|raw }}
                </div>
            {% endif %}
        </div>

        {% if block.image and block.gifLink %}
            {% set image = block.image %}
            <div class="text-image-card-container">
                <div class="text-image-card">
                    <div class="text-image-card-inner">
                        <div class="text-image-card-front"
                             style="background-image: url('{{ image.thumbnails['1855x1855'] }}')">
                            <div class="text-image-card-text">
                                <div class="text-image-card-name">
                                    {{ block.upperImageText|default('') }}
                                </div>

                                <div class="text-image-card-text-spacer"></div>

                                <div class="text-image-card-position">
                                    {{ block.lowerImageText|default('') }}
                                </div>
                            </div>
                        </div>

                        <div class="text-image-card-back" style="background-image: url('{{ block.gifLink }}')">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
